@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.notification {
  position: fixed;
  top: 60px;
  right: -400px;
  animation: slideIn 0.5s forwards, slideOut 0.5s forwards 4.5s;
  z-index: 9999;
}

@keyframes slideIn {
  from {
    right: -400px;
  }
  to {
    right: 10px;
  }
}

@keyframes slideOut {
  from {
    right: 10px;
  }
  to {
    right: -400px;
  }
}